<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 开始配置定时调度器-同步卡信息     开始 -->
	<!-- <bean id="syncCardInfoService" class="com.hyx.service.SyncCardInfoService"> 
	    <property name="cardDao" ref="cardDao" />
    </bean>
	<bean id="buildTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject" ref="syncCardInfoService" /> 
		<property name="targetMethod" value="syncCardInfoService" /> 
		<property name="concurrent" value="false" /> 
	</bean> 
	<bean id="buildTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail" ref="buildTask" /> 
		<property name="cronExpression" value="0 */1 * * * ?" /> 
	</bean> 
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="triggers"> 
			<list> 
				<ref bean="buildTrigger" /> 
			</list> 
		</property> 
		<property name="configLocation" value="classpath:quartz.properties"/>
	</bean>  -->
	<!-- 开始配置定时调度器-同步卡信息     结束 -->

</beans>